.Page {
    position: absolute;
    width: 1280px;
    height: 986px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 80px;

    background: #ffffff;
}

.Name {
    position: absolute;
    width: 299px;
    height: 48px;
    left: 206px;
    top: 37px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;

    color: #000000;
}

.Info {
    position: absolute;
    width: 414px;
    height: 40px;
    left: 206px;
    top: 93px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.Rectangle {
    position: absolute;
    width: 920px;
    height: 1px;
    left: 203px;
    top: 157px;

    background: #000000;
}

.Quote {
    position: relative;
    width: 299px;
    height: 24px;
    left: 491px;
    top: 300px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;
}

.AuthorizationForm {
    position: relative;
    width: 299px;
    height: 24px;
    left: 491px;
    top: 184px;
}

.TextBox {
    width: 100%;
    height: 25px;
    border-radius: 100px;
    border-width: 10px;
    border-color: #7de88c;
    margin-bottom: 10px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.SubmitButton {
    width: 100%;
    height: 25px;
    background-color: #7de88c;
    border-width: 3px;
    border-color: #ff0844;
    margin-top: 20px;
    margin-bottom: 10px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.QuitButton {
    width: 100%;
    height: 25px;
    background-color: #ff0844;
    border-width: 3px;
    border-color: #7de88c;
    margin-top: 20px;
    margin-bottom: 10px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

.AuthorizationName {
    width: 100%;
    height: 25px;
    border-radius: 100px;
    border-width: 10px;
    border-color: #7de88c;
    margin-bottom: 10px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

@media (max-width: 920px) {
    .Page {
        position: absolute;
        width: 920px;
        left: 0%;
        transform: translate(0%, 0%);
        top: 80px;

        background: #ffffff;
    }
    .Name {
        position: absolute;
        width: 199px;
        height: 48px;
        left: 16px;
        top: 8px;

        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 48px;

        color: #000000;
    }

    .Info {
        position: absolute;
        width: 288px;
        height: 60px;
        left: 16px;
        top: 64px;

        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #000000;
    }

    .Rectangle {
        position: absolute;
        width: 288px;
        height: 1px;
        left: 16px;
        top: 157px;

        background: #000000;
    }

    .Quote {
        position: relative;
        width: 288px;
        height: 24px;
        left: 0px;
        top: 325px;

        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        display: flex;
        align-items: flex-end;
        text-align: center;

        color: #000000;
    }
}
