.MainPage{
    position: absolute;
    width: 1280px;
    height: 986px;
    left: 80px;
    top: 80px;
    
    background: #FFFFFF;
}

.Name{
    position: relative;
    width: 299px;
    height: 48px;
    left: 206px;
    top: 37px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;

    color: #000000;
}

.Info{
    position: relative;
    width: 414px;
    height: 40px;
    left: 206px;
    top: 93px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.Rectangle{
    position: relative;
    width: 920px;
    height: 1px;
    left: 203px;
    top: 157px;
    
    background: #000000;
}

.OnlyDangerous{
    position: relative;
    width: 196px;
    height: 20px;
    left: 206px;
    top: 184px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #000000;
}

.DistanceMode{
    position: relative;
    width: 379px;
    height: 20px;
    left: 748px;
    top: 184px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.Quote{
    position: relative;
    width: 299px;
    height: 24px;
    left: 491px;
    top: 300px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;
}

button.UnitsDefault{
    background:none; 
    border:none;
    margin: 0px;
    padding: 5px;

    font-family: 'Helvetica';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;

    text-decoration: underline;
    cursor: pointer;
}
button.UnitsActive{
    background:none; 
    border:none;
    margin: 0px;
    padding: 5px;

    font-family: 'Helvetica';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;

    font-weight: bold;
    text-decoration: none;
}

@media(max-width:920px){
    .Name{
        position: absolute;
        width: 199px;
        height: 48px;
        left: 16px;
        top: 8px;

        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 48px;

        color: #000000;
    }

    .Info{
        position: absolute;
        width: 288px;
        height: 60px;
        left: 16px;
        top: 64px;

        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #000000;
    }

    .Rectangle{
        position: absolute;
        width: 288px;
        height: 1px;
        left: 16px;
        top: 181px;

        background: #000000;
    }

    .DistanceMode{
        position: absolute;
        width: 212px;
        height: 48px;
        left: 13px;
        top: 228px;

        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        color: #000000;
    }
    
    .OnlyDangerous{
        position: absolute;
        width: 227px;
        height: 24px;
        left: 16px;
        top: 190px;
    }
}